*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



    /*-----------
     Header Part 
    ------------*/
    
    /* Tilebar */

header{
    background-color: rgb(255, 255, 228);
    padding: 50px 130px;
}

.head-title{
    display: flex;
    justify-content: space-between;
    
}

.head-title>h2{
    font-size: 25px;
    font-weight: 900;
}

.anchor-group>td>a{
    text-decoration: none;
    color: black;
    padding-left: 40px;
} 

   /* Head Info */

.head-info{
    text-align: center;
    padding-top: 70px;
   
}

.head-info>h1{
    font-size: 43px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.discription{
    font-size: smaller;
    color: dimgrey;
    
}

.btn{
    height: 40px;
    width: 120px;
    margin-top: 20px;
    color: white;
    background-color: rgb(248, 77, 15);
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    margin-bottom: 50px;
}

.banner-img{
    width: 75%;
    height: 400px;
    
}

    /*----------
     Main Part 
    ---------- */

main{
    padding: 50px 130px;
    
}

    /* Team Section */

.team-sec{
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 100px;
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team-discription{
    margin-top: 180px;
}

.team-discription-h3{
    font-size: 28px;
    padding-bottom: 20px;
}

   /* Feature Section */

.feature-sec{
    display: flex;
    column-gap: 50px;
    
}

.feature-h2{
    font-size: 25px;
    padding-bottom: 15px;
    font-weight: bolder;
}

.feature-sec>div>p{
    padding-bottom: 40px;
}

.feature-inside-div>div>p{
    padding-bottom: 40px;
}

.feature-inside-div>div>h6{
    font-size: 15px;
    padding-bottom: 10px;
}

.architect{
    height: 750px;
    display: flex;
    flex-direction: column;
}

.big-btn{
    color: white;
    background-color: rgb(248, 77, 15);
    border-radius: 5px;
    border: none;
    height: 120px;
    width: 200px;
    
}

.btn-span{
    font-size: 33px;
    font-weight: 900;
    
}

   /* Popularity */
   
.fact-div{
    margin-top: 100px;
}

.fact-div>h3{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}

.popularity-div{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

.popularity-div>div{
    border: 1px solid rgb(247, 187, 108);
    height: 130px;
    width: 150px;
    text-align: center;
    padding-top: 35px;
    border-radius: 5px;
    row-gap: 5px;
}

.popularity-div>div>h4{
    font-size: 22px;
}

.popularity-div>div>p{
    font-size: 15px;
    font-weight: 700;
    color: dimgrey;
    
}

    /*-----------
     Footer Part 
    ------------*/

footer{
    margin: 50px 130px;
}

.foot-h3{
    font-size: 25px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
}

.foot-div-1{
    text-align: center;
    padding-bottom: 40px;
}

.web-img{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.copyright{
    background-color: antiquewhite;
    height: 60px;
    text-align: center;
    padding-top: 40px;
}

 /*-----------
    Media Query
   ------------*/

@media screen and (max-width:576px) {
    
    header{
        padding: 50px 35px;
        
    }
    .head-title>h2{
        justify-content: left;
        
    }

    .banner-img{
        width: 80%;
        height: 200px;
    }
    
    main{
        padding: 50px ;
    }
    
    .team-sec{
        display: block;
        margin-bottom: 50px;
    }

    .team-img{
        display: block;
        padding-left: 50px;
    }

    .team-discription{
        margin-top: 50px;
       
    }
    
    .feature-sec{
        display: flex;
        flex-direction: column-reverse;
    }

    .architect{
        height: 580px;
    }

    .architect>img{
        width: 93%;
        
    }

    .popularity-div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

    footer{
        margin: 50px 80px;
    }

    .web-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
    }

    .web-img>img{
        height: 30px;
        width: 80px;
        padding: 0 80px;
    }
    
} 
  
